@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 24px 0px;
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        max-width: 120px;
    }
    &__menu {
        //width: 50%;
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        padding-left: 70px;
    }
    &__item+&__item {
        padding-left: 30px;
    }
    &__link {
        transition: all .5s ease;
        color: #575757;
        font-size: 15px;
        line-height: 18px;
        font-weight: 500;
        padding: 5px;
        &:focus,
        &:hover {
            //color: #006CFF;
            //text-decoration: underline;
            //background-color: #d4da81;
            //border-radius: 8px;
        }
    }
    &__phone {
        line-height: 21px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        font-size: 18px;
    }
}

.top-page {
    background-image: url(../images/top-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__inner {
        margin: auto 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__title {
        font-weight: 600;
        font-size: 64px;
        line-height: 78px;
        margin-bottom: 68px;
        text-align: center;
    }
    &__btn {
        background-color: #006CFF;
        padding: 15px 50px;
        font-size: 18px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        line-height: 21px;
        border: 1px solid #006CFF;
        border-radius: 10px;
        color: #ffffff;
        transition: all .5s ease;
        &::before {
            width: 100%;
            height: 0%;
        }
        &:focus,
        &:hover::before {
            height: 100%;
            cursor: pointer;
        }
    }
}

.portfolio {
    padding-top: 150px;
    padding-bottom: 157px;
    &__block-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    &__block-item {
        width: 27.8%;
        text-align: center;
        margin-bottom: 105px;
    }
    &__block-box {
        cursor: pointer;
        padding: 17px;
        transition: all .5s ease;
        background: #FFFFFF;
        box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        &:hover {
            transform: scale(1.1);
        }
        margin-bottom:67px;
    }
    &__block-title {
        color: #5F5F5F;
        font-size: 24px;
        font-family: 'Rubik', sans-serif;
        line-height: 28px;
    }
}

.services {
    margin-bottom: 230px;
    &__content {
        max-width: 1180px;
        margin: 0 auto;
        padding-top: 7px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 131px;
    }
    &__content-title {
        font-size: 48px;
        font-weight: 500;
        line-height: 58px;
        text-align: start;
        // max-width: 590px;
        width: 50%;
        color: #2E2E2E;
    }
    &__content-box {
        display: flex;
        flex-direction: column;
        //max-width: 590px;
        width: 50%;
        color: #3D3D3D;
    }
    &__content-text {
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 20px;
    }
    &__content-next {
        max-width: 155px;
        margin-right: 3px;
        padding-right: 24px;
        position: relative;
        transition: all .5s ease;
        &::after {
            content: "";
            margin-left: 4px;
            background-image: url(../images/arrow-left.svg);
            background-repeat: no-repeat;
            background-position: center;
            width: 19px;
            height: 19px;
            right: 0;
            top: 0;
            position: absolute;
        }
        &:hover {
            max-width: 175px;
            &::after {
                //transform: scale(1.1);
                background-position: left;
                width: 35px;
                background-image: url(../images/Arrow-next.svg);
            }
        }
    }
    &__icon-block {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__icon-item {
        text-align: center;
        min-height: 330px;
        margin-bottom: 110px;
    }
    &__icon-images {
        margin: 0 auto;
        margin-bottom: 47px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #EFF2F5;
        width: 96px;
        height: 96px;
    }
    &__icon-title {
        margin-bottom: 33px;
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
    }
    &__icon-text {
        font-size: 18px;
        line-height: 25px;
        font-weight: 500;
        color: #808A9D;
    }
}

.services__icon-item:nth-child(1) {
    max-width: 410px;
    padding-left: 30px;
}

.services__icon-item:nth-child(2) {
    max-width: 312px;
    margin: 0 70px;
}

.services__icon-item:nth-child(3) {
    max-width: 334px;
    padding-right: 30px;
}

.services__icon-item:nth-child(4) {
    max-width: 430px;
}

.services__icon-item:nth-child(5) {
    max-width: 312px;
    margin: 0 60px;
}

.services__icon-item:nth-child(6) {
    max-width: 446px;
}

.footer {
    background: #000000;
    padding: 86px 0 44px 0;
    color: #FFFFFF;
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: start;
        grid-column-gap: 50px;
    }
    &__title {
        font-size: 36px;
        font-weight: 800;
        margin-bottom: 70px;
        line-height: 43px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        &-input {
            color: #AEAEAE;
            width: 100%;
            border: none;
            background: transparent;
            font-size: 18px;
            line-height: 25px;
            font-weight: 600;
            &:focus {
                background: #000000;
            }
        }
        &-btn {
            border: 1px solid #006CFF;
            border-radius: 8px;
            padding: 20px;
            text-align: center;
            background: transparent;
            color: #FFFFFF;
            font-size: 24px;
            font-family: 'Rubik', sans-serif;
            transition: all .5s ease;
            &:focus,
            &:hover {
                background-color: #006CFF;
                cursor: pointer;
            }
        }
    }
    &__check {
        display: flex;
        position: relative;
        align-items: center;
        &::after {
            content: none;
            display: block;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 50px;
    }
    &__content-inner {
        display: flex;
        flex-direction: column;
    }
    &__content-mail {
        font-weight: 900;
        font-size: 36px;
        line-height: 43px;
        margin-bottom: 47px;
    }
    &__content-phone {
        margin-bottom: 15px;
        color: #AEAEAE;
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
        line-height: 21px;
    }
    &__social-list {
        display: flex;
        padding-top: 6px;
        margin-bottom: 30px;
    }
    &__social-link+&__social-link {
        padding-left: 8px;
    }
}

.footer__label {
    position: relative;
    margin-bottom: 80px;
    &::after {
        content: '';
        background: #fcf9f9;
        position: absolute;
        bottom: -15px;
        left: 0;
        width: 100%;
        height: 1px;
    }
}

.footer__check {
    &::after {
        content: none;
    }
}

input {
    &::placeholder {
        color: #AEAEAE;
    }
}

.checkbox-custom {
    position: relative;
    width: 18px;
    height: 18px;
    background: transparent;
    border: 1px solid #AEAEAE;
    margin-right: 16px;
}

.checkbox-custom {
    display: inline-block;
    vertical-align: middle;
}

.check {
    left: 0;
    z-index: 5;
    position: absolute;
    width: 0px !important;
    // display: none;
}

.label {
    font-weight: 600;
    font-size: 11px;
    color: #AEAEAE;
    text-align: center;
}

.check:checked+.checkbox-custom::before {
    content: "";
    background-color: #f8e9db;
    border-radius: 4px;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

nav ul li a:hover {
    color: #555;
}

nav.fill ul li a {
    position: relative;
}

nav.fill ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(22, 22, 22);
    height: 1px;
}

nav.fill ul li a {
    transition: all 2s;
}

nav.fill ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}

nav.fill ul li a:hover {
    color: #fff;
    z-index: 1;
}

nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}

@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}

.btn {
    position: relative;
    display: block;
    background-color: #006CFF;
    padding: 15px 50px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    line-height: 21px;
    border: 1px solid #006CFF;
    border-radius: 10px;
    color: #ffffff;
    z-index: 2;
    overflow: hidden;
    transition: 1s all ease;
    &:hover {
        color: #2E2E2E;
        cursor: pointer;
        .btn-text {
            color: #2E2E2E;
            z-index: 26;
        }
        &::before {
            height: 100%;
        }
    }
}

.btn::before {
    background: #ffffff;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 100%;
    height: 0%;
}


/*
.btn:hover {
    cursor: pointer;
    .btn::before {
        height: 100%;
    }
}*/